<div class="archives">
<h2>Listing Feeds</h2>

    <% @all_feeds.each do |feed| %>
     <% feed.entries.each do |entry|%>

        <li> <span class="feeds-element"><%= link_to "#{feed.title}".force_encoding('UTF-8'), "#{feed.link}".force_encoding('UTF-8') %></span>
          <%= link_to "#{entry.title}".force_encoding('UTF-8'), "#{entry.link}".force_encoding('UTF-8') %></li>
      </br>
      <% end %>
    <% end %>

</div>
