#sidebar, .postmeta, .content, .post {display: inline;float: left;position:relative;margin-left: 0px;margin-right: 0px;}
#container {background-repeat: repeat-y;margin-top: 12px; position: relative; z-index: 3;}
#fullwidth_container {margin: 12px auto 20px auto;}
#wrapper{margin-left:160px;}
.centered{margin-left: auto;margin-right: auto;width: 1000px;}

/* content */
.content {width: 502px;margin:-2px 20px 0px 18px;line-height:20px;}
.ie .content{width:498px;}
.post{margin-bottom: 20px;}
.content ul, .content ol{margin-left:20px;}

/* sidebar */
#sidebar {width:160px;border-color:#DDD;border-top-style:solid;border-top-width:1px;}
#skyscraper{height:600px;}
#skySpacer{margin:0;height:11px;}

#masthead, #siteInfo, #weekly-subscribe{margin:10px 10px 0 10px;}
#sidebar .spacer {background-color:white;border-bottom:1px solid #DDDDDD;border-top:1px solid #DDDDDD;height:16px;width:100%;}
#sidebarposts{margin: 10px 1px 20px 1px;}
.spimage{margin:10px 0px;}
.spimage span{margin:0px 5px;display:block;}
#masthead p {margin-bottom:11px;}
#weekly-subscribe {color:gray;}
#weekly-subscribe #EMAIL,#weekly-subscribe .bttn  {border:1px solid #DADADA;margin-left:2px;width:65px;font-weight:bold;}

/* footer */
#footer {border-top:1px solid #CCCCCC;font-size:11px;line-height:19px;margin-bottom:0;}
#footer_siteinfo {border-top: 1px solid #ccc;height: 22px;}
#footer_siteinfo {clear: both;padding-bottom: 8px;list-style-type: none;}
#footer_siteinfo li {float: left;	margin-right: 10px;	height: 22px;line-height: 33px;color: #000;}
#sitemeter{position: relative;margin-top: 5px;z-index: 1000;}

/* misc classes */
.hide { display: none; }

/* ads */
.ad_728x90{border: 0px solid #B3B3B3;float: left;padding: 0px;text-align: left;margin:0 0 20px 18px;}
	.permalink .permalink_ads img { border: 0; }
	.permalink .permalink_ads .ad_728x90 { margin: 15px 0 0 0; }

/* sitestat table */
.siteStatTable { margin: 0px 20px 0px 18px; }
.siteStatTable table td {
	padding: 4px;
}

.siteStatTable table th {
	font-size: 14px;
	font-weight: bold;
	padding: 5px 5px 5px 4px;
}

.siteStatTable table tr td
{
	text-align: center;
}

.siteStatTable table tr td:first-child {
	text-align: left;
	font-weight: bold;
}

.siteStatTable table .tableFoot {
	font-size: 14px;
}

#errorbar{ background:#f99; border:2px solid red; padding:2px; margin:2px 0; width:auto; text-align:center;}
#infobar{ background:#9f9; border:2px solid green; padding:2px; margin:2px 0; width:auto; text-align:center;}
#randombar{ background:#f0f0f0; border:solid rgba(82, 82, 82, 0.6); padding:2px; margin:2px 0; width:auto; text-align:center;}

#mc-embedded-subscribe{background: #600; color: white; float: right;}

.newsletter_signup .validationmessage{display: none; padding: 3px; color: black}
#newsletter_signup_sidebar .validationmessage{border: 1px solid black; background: white; }

.newsletter_signup .almost{border: 1px solid black; background: white; padding: 3px; color: black}
#newsletter_signup_newcomer .almost{border: 0px; background: transparent; }