body{font:12px/17px "Lucida Grande",Helvetica,Arial,sans-serif;}
.smalltype, .topTag{font-family: Helvetica,Arial,sans-serif;}
.serif{font:13px/17px Georgia, Times, serif;}

hr{border:0 #ccc solid;border-top-width:1px;height:0}
ol{list-style:decimal}
ul{list-style:square}
cite {font-style:normal;}
blockquote { font-size: 12px; line-height: 19px; padding:10px 10px 0px 10px;}
	.content blockquote p { margin:0;padding-bottom:10px;}
a{text-decoration:none;color:#000;}
a:hover{text-decoration:underline;color:#000;}
.autolink {color:#303030;}
.dcolor, .dcolor:hover, .dcolor a, .dcolor a:hover {color:#000;}

.content .topTag {font-size:12px;font-size-adjust:none;font-stretch:normal;border: 1px solid #B3B3B3;background-color:#888888;color:#FFFFFF;text-align:right;text-transform:none;}
.content .topTag:hover{text-decoration:none;color:#FFF;}
.content { color:#000; }
.serif .content { color:#303030; }

.topStory h1{font-size: 17px;font-weight: normal;}
.topStory h1 a{border-bottom:0 none;}

#sidebar {font-size:12px;line-height:16px;color:#303030;}
#sidebar h3{margin:10px 0;}

#weekly-subscribe .bttn{font-size: 11px;}

.dateHeadline, .postmeta, #userLinks a, #popTags, #popTags a {font-size:12px;}
#userLinks a {color:#999999;font-weight:bold;}
#popTags, #popTags a {line-height: 20px;}
.tags a, .tags a:hover {color: #999;font-size: 13px;font-weight: normal;border-bottom: 0;white-space: pre;}

.content p{
	margin:0 0 1.5em;
}

.fleft {float: left;}
.fright {float: right;}

.small { font-size: 12px; font-style: italic; }

.validationmessage {color: #940000;font-weight: normal;}
#mail2form .validationmessage {text-align: right;}