<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div>Name: <%= @name %></div>
    <div>Email: <%= @email %></div>

    <div>Message: <%= @message %></div>
  </body>
</html>