<!-- ad2-tall -->
<div id="skyscraper" class="">
  <div class="ad_160x600">
    <div class="dfpad" id="gadc_8101022-placeholder">
    </div>
    <div class="dfpad" id="gadc_8101022-delayed">
      <a target="_blank" href="#">
        <img src="/theme/images/dawn_dudek160x600.jpg" border="0" alt="Click here to find out more!">
      </a><!-- \o/ -->
    </div>
  </div>
</div>
<div id="skySpacer" class="spacer "></div>

<!-- ad2-square -->
<div id="ad_160x160" class="hide">
  <div class="ad_160x160">
    <div id="ad-160x160">
      <div class="dfpad" id="gadc_7189127-placeholder">
        ADVERTISEMENT
      </div>
      <div class="dfpad" id="gadc_7189127-delayed">
        <a target="_blank" href="http://ad.doubleclick.net/click;h=v8/3ab2/0/0/%2a/l;44306;0-0;0;14043617;23-160/160;0/0/0;;~okv=;;ptile=3;sz=160x160;~aopt=2/1/31/0;~sscs=%3f">
          <img src="/theme/images/817-grey.gif" border="0" alt="Click here to find out more!">
        </a><!-- \o/ -->
      </div>
    </div>
    <div id="spacer160" class="spacer" style="margin-bottom:0">
      
    </div>
  </div>
</div>
