.post.siteid_4
  .content.withpic
    .postpic
      %a.topTag{title:"Click tag", href:"#"}
        %span.hash #
        patents
      %a.pp_image{title:"Click title", href:"#"}
        %img{height:"120", width:"160", title:"Click image", src:"/theme/images/160x120_nikonfan.jpg"}
    %h1
      %a.dcolor{title:"Click link", href: "#"}
        Lorem Ipsum Dolor Sit Amet

    Article text.
    [
    = link_to "External Link", "http://www.petapixel.com/2011/02/17/nikon-may-use-fan-to-cool-down-its-mirrorless-cameras/"
    ]
