.postmeta.smalltype
  .pm_l.pm_date
    %a{href:"#",class:"pm_link",rel:"nofollow", title:"on 10:20 AM"}
      10:20 AM
      %img.pm_meta_icon{src:"/theme/images/clock-filled.png", width:"15", height:"15"}

  .pm_l.pm_byline
    %cite.pm_byline
      By
      %a.pm_link{href:'#', title: 'Click byline'}
        Aaron Franklin
