<div id="footer" class="centered smalltype">
  <ul id="footer_siteinfo">
    <li>
      <a title="Click here to go to Archives" href="/archive" rel="nofollow">Archives</a>
    </li>
    <li>
      <a title="Click here to go to About" href="/about" rel="nofollow">About</a>
    </li>
    <li>
      <a title="Click here to go to Advertising" href="/advertising" rel="nofollow">Advertising</a>
    </li>
    <li>
      <a title="Click here to go to Legal" href="/legal" rel="nofollow">Legal</a>
    </li>
    <li>
      <a rel="nofollow" href="/issue" title="Click here to go to Report an Issue" target="_blank">Report an Issue</a>
    </li>
    <li>
      <a rel="nofollow" href="/faq" title="Click here to go to FAQ">FAQ</a>
    </li>
  </ul>
  Original material is licensed under a <a href="http://creativecommons.org/licenses/by-nc/3.0/">Creative Commons License</a> permitting non-commercial sharing with attribution.
  <br class="clearer">

  <!-- presence templates -->
  
</div>
