  <div id="masthead">
    <h3 id="team">GIZMODO TEAM</h3>

Tip Your Editors:<br>
<a href="mailto:tips@QUIDNUNCRE.com">tips@QUIDNUNCRE.com</a><noscript>&lt;span style="unicode-bidi:bidi-override;direction:rtl;"&gt;&lt; moc.odomzig@spit &gt; moc.odomzig@spit&lt;/span&gt;</noscript><br><br>

Editorial Director:<br>
<a href="http://thescuttlefish.com/">Brian Lam</a> | <a href="mailto:blam@QUIDNUNCRE.com">Email</a><noscript>&lt;span style="unicode-bidi:bidi-override;direction:rtl;"&gt;&lt; moc.odomzig@malb &gt; liamE&lt;/span&gt;</noscript><br><br>

Editor:<br>Jason Chen<br>
<a href="mailto:jchen@QUIDNUNCRE.com">Email</a><noscript>&lt;span style="unicode-bidi:bidi-override;direction:rtl;"&gt;&lt; moc.odomzig@nehcj &gt; liamE&lt;/span&gt;</noscript> | <a href="aim:goim?screenname=jasonvsninjas&message=type+your+tip+here">AIM</a> | <a href="http://twitter.com/diskopo">Twitter</a>
<br><br>

Contributing Illustrator:<br>
<a href="http://www.samspratt.com/">Sam Spratt</a>
<br><br>

Interns:<br>
Foo Bar<br><a href="mailto:cchan@QUIDNUNCRE.com">Email</a><noscript>&lt;span style="unicode-bidi:bidi-override;direction:rtl;"&gt;&lt; moc.odomzig@nahcc &gt; liamE&lt;/span&gt;</noscript><br>

Popular Posts:<br>
<a href="http://ca.QUIDNUNCRE.com/popular/day/">Last 24 Hours</a><br>
<a href="http://ca.QUIDNUNCRE.com/popular/week/">Last 7 Days</a><br>
<a href="http://ca.QUIDNUNCRE.com/popular/month/">Last 30 Days</a>
<br><br>

Media Requests:<br>
<a href="mailto:media@QUIDNUNCRE.com">media@QUIDNUNCRE.com</a><noscript>&lt;span style="unicode-bidi:bidi-override;direction:rtl;"&gt;&lt; moc.odomzig@aidem &gt; moc.odomzig@aidem&lt;/span&gt;</noscript><br><br>

Follow Quidnunc on:<br>
<a href="http://twitter.com/quidnunc">Twitter</a><br>
</div>
