<div id="header" class="centered">

      <%
        dom_id ||= 'topMenu'
        css ||= 'evenday'
        hide_children = RefinerySetting.find_or_set(:menu_hide_children, false) unless defined?(hide_children)
        # Select top menu items unless 'roots' is supplied.
        collection ||= @menu_pages.includes(:parts, :slugs)
        if (roots ||= collection.select{|p| p.parent_id.nil?}).present?
          # In order to match items that aren't shown in menu and highlight their associations.
          # This can be supplied if the logic different in your case.
          unless defined?(selected_item)
            selected_item = collection.detect{|page| selected_page?(page)}
            selected_item = @page if selected_item.nil?
          end
          sibling_count = roots.length - 1
      -%>
          <nav id='topMenu' class='<%= %W(#{css} clearfix).join(' ') %>'>
            <ul id="contentSwitch">
              <%= render :partial => "/shared/menu_branch",
                         :collection => roots,
                         :locals => {
                           :hide_children => hide_children,
                           :sibling_count => sibling_count,
                           :collection => collection,
                           :selected_item => selected_item,
                           :apply_css => true #if you don't care about class='first' class='last' or class='selected' set apply_css to false for speed.
                         }
              -%>
            </ul>
          </nav>
      <% end -%>

    <div id="userLinks">
      <div id="top_presence_control" class="smalltype">
          <span class="cn_logout_panel presence_control" style="display:none;">
          <a href="#" class="presence_control cn_profile_link">Profile</a>
          <a href="#" class="presence_control cn_logout_link normal">logout</a>
          <img class="presence_control cn_logout_indicator" src="/theme/images/bar-loader.gif" width="16" height="16" border="0" style="display: none;">
        </span>
        <span class="cn_login_panel presence_control" style="">
          <a href="#" class="login presence_control cn_togglelogindialog normal">login</a>
        </span>
      </div>
      <div class="search" id="top_search_control">
        <form class="searchControl cn_form" method="post" action="#" id="search_form" name="search_form">
          <span class="left"></span>
            <input type="search" class="searchControl cn_q noq" results="5" value="" id="term" name="q" placeholder="Search" autosave="gawker_srch">
            <input type="hidden" name="searchall" value="0" class="searchControl cn_searchall">
            <input type="hidden" name="searchbyrelevance" value="0" class="searchControl cn_searchbyrelevance">
          <span class="right"></span>
        </form>
      </div>
    </div>
    
    <%= render partial: "shared/splash_posts" %>
    
</div>