<div id="weekly-subscribe">
  <h3>RSS 
    <a href="#" title="Click here for RSS" style="border:0">
      <img class="rss" src="/theme/images/feed_icon_small.png" alt="RSS" width="16" height="16"/>
    </a>
  </h3>
</div>
