<div id="siteInfo">
  <a id="appdir-button" href="/tag/tag1"></a>
  <a id="android-button" href="/tag/tag2"></a>
  <hr id="apphr" noshade="true"/>
  <p>
    New York, 10:20 AM<br>
    Fri Feb 18<br>
    70 posts in the last 24 hours<br>
  </p>
</div>
