<div id="splashPosts">

  <% 4.times do -%>
  <div class="topStory ">
    <a href="#" style="border-bottom:0">
      <img src="/theme/images/126x100_steelwool.jpg" alt="image alt text" title="Image Title" width="126" height="100">
    </a>
    <div>
      <h1>
        <a class="dcolor" href="#">an article</a>
        <span class="tags">
          <a href="/tag/tag1/"><span class="hash">#</span>tag1</a>
          <a href="/tag/tag2/"><span class="hash">#</span>tag2</a>
        </span>
      </h1>
    </div>
  </div>
  <% end -%>

  <div class="topStory hide">
    FAIL BABOON BITE YOU NO HIDE
  </div>

</div>

  <div id="ad-300x250" class="">
    <div class="ad_300x250">
      <div class="dfpad" id="gadc_8938603-placeholder">
        <img src="theme/images/square_ad.png">
      </div>
    </div>
  </div>

</div>