#splashPosts

  - 4.times do
    .topStory
      %a{href: "#", style: "border-bottom:0"}
        %img{src:"/theme/images/126x100_steelwool.jpg", alt: "image alt text", title: "Image Title", width:"126", height:"100"}
      %h1
        %a.dcolor{href:"#"}
          an article
          %span.tags
            %a{href:"/tag1/"}
              %span.hash #
              tag1

  .topStory.hide
    FAIL BABOON BITE YOU NO HIDE1

  #ad-300x250
    .ad_300x250
      .dfpad{id:"gadc_8938603-placeholder"}
        / %img{src:"theme/images/square_ad.png"}
