<%= form_for @message, :url => contact_path do |form| %>
  <fieldset class="fields">
    <div class="field">
      <%= form.label :message %>
      <%= form.text_field :message %>
    </div>
  </fieldset>
<% end %>