/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

/* colors:
  headlines orange: #f56b23;
  background blue: #056690;

*/

/* High level containers */
body {
  color: black;
  font: normal 0.95em helvetica, arial, sans-serif;
  line-height: 1.5;
  padding: 0px;
  margin: 0px; }

#ad-container {
  margin: auto;
  margin-top: 24px;
  margin-bottom: 24px;
  background-color: white;
  text-align: center;
  padding: 6px;
  width: 728px;
  height: 90px;
  border: 1px solid #000;
}

#page_container {
  background-image: image-url('diamond-background.jpg');
  background-repeat:repeat-x;
  background-color: white;
  position: absolute;
  min-height: 400px;
  color: black;
  width: 100%; }

#content {
  box-shadow: 0px 1px 17px 1px #323453;
  background-color: white;
  border: solid;
  border-width: 1px;
  border-color: #ccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  width: 900px;
  margin: 5px auto;
  position: relative;
  padding: 16px;
  padding-right: 55px;
  min-height: 1350px;
  /*  display: inline;*/ }

#top-spacer {
  background-color: #056690;
  height: 4px;
  margin: auto;
}

#header {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 130px;
  width: 980px;
  background-color: white;
  vertical-align: middle;
}

#logo {
  margin-top: 22px;
  display: inline-block;
}

.logo-element {
  float: left;
  display: inline-block;
  margin-right: 20px;
}

.logo-element img, #social-links img {
  border: none;
}

#social-links img {
  padding: 0 2px 0 2px;
}

#hot-news {
  vertical-align: middle;
  display: inline-block;
  float: right;
}

.hot-headline {
  display: inline-block;
  float: right;
  margin: 12px;
  height: 94px;
  width: 94px;
  overflow: hidden;
}

.hot-headline a {
  color: #f56b23;
}

#navbar {
  color: #f56b23;
  background-color: #fafafa;
  margin-top: -16px;
  margin-left: -16px;
  margin-right: -54px;
  padding: 9px;
  padding-left: 14px;
  font-size: 13px;
  border-bottom: 1px solid #a29980;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

}

#navbar a {
  font-weight: lighter;
  color: white;
  padding: 5px 12px 5px 12px;
  margin-right: 5px;
  background-color: #f56b23;
  hover: underline;
  width: 200px;
}

#navbar form {
  margin-left: 4px;
  display: inline
}

#navbar #social-links {
  display: inline;
  color: black;
  font-size: 12px;
  float: right;
  margin: 5px 64px;
}

#navbar #social-links a {
  background-color: white;
  padding: 0;
}

#navbar input {
  margin-left: 18px;
  border: 1px solid #f56b23;
  font-size: 10px;
  height: 16px;
  width: 164px;
}

.ad-box {
  display: block;
  margin: 30px auto;
  padding: 6px;
  height: 250px;
  width: 250px;
  border: solid;
  border-width: 2px;
  border-color: gray;
  background-color: #ddd;
}

#navigation .links {
  margin: auto;
  padding: 6px;
  width: 240px;
}

.tag-cloud {
  width: 220px;
  margin-bottom: 8px;
}

.tag-cloud div {
  padding: 8px;
}

#footer {
  position: relative;
  font-size: 8pt;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 5px;
  color: gray; }

/* Headings */
h1#page_heading {
  margin: 2px;
  font-size: 22pt;
  font-weight: lighter;
  color: #f56b23 !important; }

h2 {
  font-size: 1.4em;
  font-weight: lighter;
  color: #333333; }

h2 a, h3, h4, h5 {
  color: #333333; }

h3 {
  display: inline;
  color: #aaa;
  font-size: 9pt;
}

/* Text */
p {
  padding: 0px;
  margin-top: 0.5em;
  margin-bottom: 1em;
  margin-left: 0px;
  margin-right: 0px; }

strong {
  color: #333333; }

/* Links */
.openid {
  background-image: url(/assets/openid_icon.png);
  padding-left: 15px;
  background-repeat: no-repeat;
  background-position: 0px 2px; }

a {
  color: #000051;
  text-decoration: none;
}

p a {
  color: #4038ab;
  font-weight: lighter;
}

h1 a {
  color: #f56b23;
}

small a, label a {
  text-decoration: underline; }

a:hover {
  text-decoration: underline; }

#footer a {
  color: gray;
  text-decoration: underline; }

.post-header img {
  vertical-align: middle;
  border: none;
}

img {
  border: solid 1px black; }

.img-container {
  padding: 8px;
  margin-bottom: 22px;
}

.img-container img {
  display: block;
}

.img-container div {
  position: relative;
  display: inline-block;
}

.img-container span {
  text-align: center;
  font-size: 0.83em;
  color: #777;
  position: absolute;
  left: 0;
  width: 100%;
}

/* Two columns */
#navigation {
  position: absolute;
  width: 21em;
  top: 24px;
  right: 0px;
  padding: 28px; }

#navigation h2 {
  display: inline; }

#navigation label {
  margin-left: 0;
  font-style: normal; }

#navigation ul {
  padding-left: 10px;
  margin-left: 0px;
  margin-top: 0px;
  list-style: none; }

#navigation ul li {
  padding-left: 0px;
  margin-left: 0px; }

#navigation h3 {
  font-size: 1.2em;
  font-weight: bold;
  font-family: verdana,arial,helvetica,sans-serif; }

#navigation input {
  border: solid 1px black;
  width: 100%;}

#navigation form {
  margin-bottom: 1em; }

#mc_embed_signup-mini input {
  border: solid 1px black;
  width: 90%;}

#mc_embed_signup-mini form {
  margin-bottom: 1em; }

#mc_embed_signup-mini .button {
  clear:both;
  background-color: #f56b23;
  border: 0 none;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size:16px;
  font-weight: lighter;
  height: 32px;
  line-height: 32px;
  margin: 0 5px 10px 0;
  padding: 0 22px;
  text-align: center;
  text-decoration: none;
  vertical-align: top;
  white-space: nowrap;
  width: auto;
}
#mc_embed_signup-mini .button:hover {
  background-color:#777;
}

#main {
  width: 600px;
  padding-right: 10px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 40px;
  border-right: 1px solid #f56b23;
}

div.meta {
  margin-top: 1em;
  margin-bottom: 3em;
  padding: 8px;
  width: 96%;
  border-top: 1px dotted #f56b23;
  border-bottom: 1px solid #f56b23;
  min-height: 46px;
 }

div.post-header {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 8px;
  width: 96%;
  border-top: 1px solid #f56b23;
  border-bottom: 1px solid #f56b23;
 }


.tags, {
  color: #f56b23;
}

/* Formatting */
.meta ul, .post-header ul, {
  list-style: none;
  margin: 0px;
  padding-left: 0em;
  padding-bottom: 0.5em;
  display: inline;
  color: #555;
  font-size: 9pt; }

.post-header ul {
  color: #555;
}

.archive-month .tags {
  color: #bbbbbb; }

.small-tag {
  font-size: 0.8em;
}

.med-tag {
  font-size: 1.2em;
}

.large-tag {
  font-size: 1.7em;
}

.large-tag:nth-of-type(even) {
  color: #a52c04;
}
.large-tag:nth-of-type(odd) {
  color: #484848;
}

.med-tag:nth-of-type(even) {
  color: #a52c04;
}
.med-tag:nth-of-type(odd) {
  color: #484848;
}

.small-tag:nth-of-type(even) {
  color: #a52c04;
}

.small-tag:nth-of-type(odd) {
  color: #484848;
}


.meta a, .archive-month .tags a {
  border-bottom: dotted 1px #bbbbbb; }

.meta a:hover {
  text-decoration: none; }

.meta ul li, .post-header ul li {
  display: inline; }

.meta ul li:after {
  content: " | "; }

.meta ul li:last-child:after {
  content: ""; }

h2 {
  margin-bottom: 0px; }

.separator {
  height: 1px;
  margin-top: 5px;
  clear: both; }

.sharing-buttons {
  float: right;
  padding: 5px;
  margin: 3px;
  margin-right: 8px;
  border: 1px solid #f56b23;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

}

.sharing-buttons img {
  border: none;
  vertical-align: middle;
}

/* Forms */
label {
  margin-left: 1em; }

textarea, select {
  font: normal 12px verdana, arial, helvetica, sans-serif; }

textarea {
  width: 500px; }

#project_summary {
  height: 150px; }

.alt, .container_alt {
  background-color: #fafafa; }

div.date {
  color: #999;
  font-size: .8em; }

div.errors {
  border: solid 1px red;
  background-color: #ffcccc;
  padding: 5px;
  padding-left: 10px;
  width: 485px; }

div.errors h3 {
  font-size: 1.0em; }

.fieldWithErrors {
  display: inline; }

span.error {
  font-weight: bold; }

#preview {
  height: 200px;
  overflow: auto; }

.related {
  width: 585px;
  background-color: #f8f8f8;
  border: 1px solid silver;
  padding: 10px; }

.contact-form {
  color: #f56b23;
  border: none;
}

.contact-field {
  padding: 0;
}

.contact-field input {
  min-width: 220px;
}

.contact-field textarea {
  width: 380px;
}

/* Disqus formatting */

#disqus_thread {
  padding: 5px;
}

/* pagination formatting experiment */

.pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
.pagination a, .pagination span, .pagination em {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 3px; }
.pagination .disabled {
  color: #999999;
  border: 1px solid #dddddd; }
.pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #f56b23;
  color: white;
  border: 1px solid #f56b23; }
.pagination a {
  text-decoration: none;
  color: #f56b23;
  border: 1px solid #f56b23; }
.pagination a:hover, .pagination a:focus {
  color: #000033;
  border-color: #000033; }
.pagination .page_info {
  background: #2e6ab1;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center; }
.pagination .page_info b {
  color: #000033;
  background: #f56b23;
  padding: 0.1em 0.25em; }
.pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
* html .pagination {
  height: 1%; }
*:first-child + html .pagination {
  overflow: hidden; }

/* Syntax */


/* TOC */
fieldset.toc
{
  float: right;
  border: dotted 1px black;
  background-color: #fafafa;
  padding: 10px;
  margin-left: 5px;
}

.toc legend
{
  font-weight: bold;
}

.toc ol
{
  margin: 0px;
  padding-left: 0px;
  list-style-position: inside;
}

.toc ol ol
{
  list-style-type: lower-alpha;
  padding-left: 15px;
}

pre.ruby .keyword { color: #c41f1f; }
pre.ruby .constant { color: #961818; }
pre.ruby .comment { color: #f37e00; }
pre.ruby .string { color: #b77c0a; }

/* CODERAY */
.CodeRay {
  background-color: #f8f8f8;
  border: 1px solid silver;
  font-family: 'Courier New', 'Terminal', monospace;
  color: #100;
  margin-bottom: 1em;
}
.CodeRay pre { margin: 0px; font-size: 12px }

div.CodeRay { }

span.CodeRay { white-space: pre; border: 0px; padding: 2px }

table.CodeRay { border-collapse: collapse; width: 100%; padding: 2px }
table.CodeRay td { padding: 2px 4px; vertical-align: top }

.CodeRay .line_numbers, .CodeRay .no {
  background-color: #eaeaea;
  color: gray;
  text-align: right;
}
.CodeRay .line_numbers tt { font-weight: bold }
.CodeRay .no { padding: 0px 4px }
.CodeRay .code { width: 100% }

ol.CodeRay { font-size: 10pt }
ol.CodeRay li { white-space: pre }

.CodeRay .code pre { overflow: auto }
.af { color:#00C }
.an { color:#007 }
.av { color:#700 }
.aw { color:#C00 }
.bi { color:#509; font-weight:bold }
.c  { color:#888 }

.ch { color:#04D }
.ch .k { color:#04D }
.ch .dl { color:#039 }

.cl { color:#B06; font-weight:bold }
.co { color:#036; font-weight:bold }
.cr { color:#0A0 }
.cv { color:#369 }
.df { color:#099; font-weight:bold }
.di { color:#088; font-weight:bold }
.dl { color:black }
.do { color:#970 }
.ds { color:#D42; font-weight:bold }
.e  { color:#666; font-weight:bold }
.en { color:#800; font-weight:bold }
.er { color:#F00; background-color:#FAA }
.ex { color:#F00; font-weight:bold }
.fl { color:#60E; font-weight:bold }
.fu { color:#06B; font-weight:bold }
.gv { color:#d70; font-weight:bold }
.hx { color:#058; font-weight:bold }
.i  { color:#00D; font-weight:bold }
.ic { color:#B44; font-weight:bold }

.il { background: #eee }
.il .il { background: #ddd }
.il .il .il { background: #ccc }
.il .dl { font-weight: bold ! important; color: #888 ! important }

.in { color:#B2B; font-weight:bold }
.iv { color:#33B }
.la { color:#970; font-weight:bold }
.lv { color:#963 }
.oc { color:#40E; font-weight:bold }
.on { color:#000; font-weight:bold }
.op { }
.pc { color:#038; font-weight:bold }
.pd { color:#369; font-weight:bold }
.pp { color:#579 }
.pt { color:#339; font-weight:bold }
.r  { color:#080; font-weight:bold }

.rx { background-color:#fff0ff }
.rx .k { color:#808 }
.rx .dl { color:#404 }
.rx .mod { color:#C2C }
.rx .fu  { color:#404; font-weight: bold }

.s  { background-color:#fff0f0 }
.s  .s { background-color:#ffe0e0 }
.s  .s  .s { background-color:#ffd0d0 }
.s  .k { color:#D20 }
.s  .dl { color:#710 }

.sh { background-color:#f0fff0 }
.sh .k { color:#2B2 }
.sh .dl { color:#161 }

.sy { color:#A60 }
.sy .k { color:#A60 }
.sy .dl { color:#630 }

.ta { color:#070 }
.tf { color:#070; font-weight:bold }
.ts { color:#D70; font-weight:bold }
.ty { color:#339; font-weight:bold }
.v  { color:#036 }
.xt { color:#444 }

