/* Heading
**********/
#commenter_wrapper {color: #303030; font-size: 13px;}

#commenter_head {border-bottom: 1px solid #ccc; height: 70px; margin-bottom: 5px;margin-left:15px;}
	#commenter_tools {float: right; height: 20px; line-height: 20px;}
		#commenter_tools .ganja_icon { float: left; margin: 0px 0px 0px 8px ; }
		#commenter_tools .commenticon { float: left; margin: 3px 0px 0px 8px; }
	.commenter_head_sub {  }

#user_image {width: 64px; float: left;}
	#user_image.editor {background: url(../img/editor-badge.png) top left no-repeat; padding: 0px 0px 0px 12px; width: 74px;}

#commenter_head_content { float: left; margin-left: 10px; }
	#commenter_head_content .star_icon {margin: 6px 6px 0px 0px;}
	#commenter_head_content h1 {display: inline; font-weight: normal; font-size: 26px; line-height: 30px; margin: 5px 0px 10px 0px; width: 475px;}
	#commenter_url {padding-top: 2px;}
	#commenter_submenu {padding-top: 3px;}
	#commenter_submenu .selected {font-weight: bold;}
	#commenter_head_content .presence_control_external { font-size: 13px; }

/* StatusUpdate Widget
**********/
#status_update { color: #666; margin: 7px 0px 0px 15px; }
	#status_update a.status_control { color: #666; text-decoration: underline; }
	#status_update a.cn_link { text-decoration: none; }
	#status_update a.cn_link:hover { text-decoration: underline; }
	#status_update a.cn_edit, #status_update a.cn_submit, #status_update a.cn_cancel { font-size: 11px; }
	#status_update input { border: 1px solid #333; color: #333; font-family: Helvetica, Arial, sans-serif; font-size: 12px; }

/* Activity listing
**********/
#mini_feed {padding-top: 23px;}
	#mini_feed.nonpostspage {float: left; overflow: hidden; width: 506px;}
	#mini_feed .event {line-height: 19px; padding-left: 18px;}
	#mini_feed .event blockquote { background-color: #fafafa; background-image: none; font-size: 13px; margin: 7px 20px 5px 0; padding: 1px 0px 2px; }
	#mini_feed .event .smalltype { font-size: 12px; color: #666; }
	#mini_feed .event .heart_icon { float: left; margin: 3px 0 0 -18px; }
	#mini_feed hr.separator { margin: 18px 0px 10px 0px; width: 468px; border-top: 1px dotted #ccc; clear: both; display: block; }

/* Sidebar
**********/
#commenter_sidebar { float: left; margin-left: 10px; position: relative; width: 300px; margin-top: 26px; }
	#commenter_sidebar .friend_list{border:1px solid #ccc;margin-bottom:10px;padding:5px;width:288px;}
	#commenter_sidebar .friend_list h3{background-color:#ccc;font-weight:bold;line-height:30px;margin:0px 0px 13px;padding-left:5px;}
	#commenter_sidebar .friend_list ul { list-style-type: none; }
	#commenter_sidebar .friend_list li{float:left;height:45px;line-height:16px;margin-bottom:5px;padding:5px;text-align:left;width:130px;}
	#commenter_sidebar .friend_list li img{float:left;margin-right:5px;}
	#commenter_sidebar .friend_list li .buddy_name_link{float:left;overflow:hidden;width:92px;}
	#commenter_sidebar .friend_list p{clear:both;}

/* UserMessage Widget
**********/
#usermessage {padding-left: 18px;}
#usermessage form {border: 1px solid #ccc; background-color: #e9e9e9; margin: 0px 0px 20px 0px; padding: 5px;}
#usermessage textarea {height: 50px; width: 472px; margin-bottom: 4px;}
#usermessage .cn_indicator {padding: 0px 5px 0px 0px;}
#usermessage label {margin: 0px 8px 0px 5px;}
	#message_list .cn_reply {padding: 0px 10px 0px 0px;}
	#message_list .public .private {display: none;}
	#message_list .public .message_content {font-style: italic;}
	#message_list .originalmessage {margin: 0px 0px 0px 20px;}

/* Followers
**********/
#mini_feed .friend_list {margin-left: 18px;}
#mini_feed .commenter_image {float: left; margin: 0px 4px 0px 0px;}

/* Admin stats
**********/
.as_table { }
	.as_table td { padding: 3px; text-align: center; }
	.as_table td.label { text-align: left; }
	.as_table tr.empty { height: 10px; }
		.as_table tr.empty td { padding: 0; }