.comment { clear: both; margin-bottom: 20px; width: 500px; }
	.comment:hover { background-color: #e8e8e8; }
	.threadWrapper { border-bottom: 1px dotted #b0b0b0; margin-bottom: 25px; }
	.avatarspace { float: left; font-family: Helvetica, Arial, sans-serif; font-size: 11px; line-height: 18px; overflow: hidden; width: 172px; }
		.avatarspace .avatar { border: 0px; float: left; margin: 2px 5px 0px 0px; }
		#comments .avatar_link { display: block; font-weight: bold; height: 18px; overflow: hidden; }
		#comments .avatar_time { color: #666; }
		#comments a.avatar_time:hover { color: #000; }
		.avatarspace .commenttools { margin-top: 5px; }
		.avatarspace .hybrid { clear: both; }
			.avatarspace .hybrid a { color: #3B81B0; }
	.ctext { width: 328px; float: left; }
		.ctext img { float: left; margin: 0 5px 5px 0; max-width: 330px; }
			.ie7 .ctext embed { float: left; }
		.metatext { color: #666; font-size: 9px; }
		.comment_tool_reply { background-image: url(http://cache.gawkerassets.com/assets/base.v9/img/icons/icons.png); background-position: 0 -256px; background-repeat: no-repeat; line-height: 16px; margin-left: 4px; opacity: 0.3; padding-left: 18px; vertical-align: text-bottom; }
			.comment_tool_reply .reply_text { visibility: hidden; }
			.ctext:hover .comment_tool_reply { background-position: 0 -272px; opacity: 1; }
			.ctext:hover .reply_text { visibility: visible; text-decoration: none; }
		.noreplies .comment_tool_reply { display: none; }
	/* special background and font colors for pending, banned, etc.. comments */
	.p_0 .ctext { color: #666; }
	.cs_draft .ctedit { background-color: #ffdddd; }
	.cs_spam .ctedit { background-color: #ffa; }
	.cs_deleted .ctedit { background-color: #eee; }
	.us_pending .avatar { border: 1px solid red; }
	.inedit .cb_default { display: none; } /* hide image and video toolbar when editing a comment */

	.comment_footer { font-size: 12px; padding: 5px 0 25px 0; text-align: center; }
	.tp_container { width: 100%; text-align: right; }
	.post_hashtag { display: none; }
	.commentload { height: 20px; line-height: 20px;}
		.comment_footer .indicator, .commentload .commentload_indicator { border: 0; clear: none; float: none; margin: 0 0 0 3px; vertical-align: text-bottom; }
	.inthread_more { clear: both; line-height: 15px; margin: 0px 0px 10px 170px; width: 330px; }
		img.itp_indicator { border: 0; clear: none; float: none; margin: 0px; vertical-align: middle; }
	.comment_invite { clear: both; position: absolute; top: 55px; }
		.comment_invite .cn_i { cursor: pointer; }


/* comment icons */
.commenticon, .commenttools .cc, .commenttools .ca { background-image: url(http://cache.gawkerassets.com/assets/base.v9/img/icons/icons.png); background-repeat: no-repeat; cursor: pointer; display: block; float: left; height: 12px; width: 12px; padding: 0; margin-right: 6px; text-decoration: none; border-bottom: 0 !important; }
	.commenticon:hover, .commenttools .cc, .commenttools .ca { text-decoration: none; border-bottom: 0px; }
	.cn_a { background-position: 0 -336px; } /* admin gear icon */
		.cn_a:hover { background-position: 0 -320px;}
	.cn_p { background-position: 0 -368px; } /* comment promote icon */
		.cn_p:hover { background-position: 0 -352px; }
	.cn_d, .cn_r { background-position: 0 -400px; } /* comment demote / remove icon */
		.cn_d:hover, .cn_r:hover { background-position: 0 -384px; }
	.cn_u { background-position: 0 -432px; } /* comment user approve icon */
		.cn_u:hover { background-position: 0 -416px; }
	.cn_e { background-position: 0 -464px; } /* comment edit icon */
		.cn_e:hover { background-position: 0 -448px; }
	.commenttools .cn_tuw { background-position: 0 -560px; width: 15px; } /* comment edit icon */
		.cn_tuw:hover { background-position: 0 -592; }

	.cn_s { background-position: 0 -480px; } /* commenter star icon */
		.s_f { background-position: 0 -480px; } /* icon of a starcommenter, can de-star user on click */
			.s_f:hover { background-position: 0 -496px; }
		.s_t { background-position: 0 -496px; } /* icon of a non-starcommenter, can star user on click */
			.s_t:hover { background-position: 0 -480px; }

	.cn_buddy { background-position: 0 -512px; height: 11px !important; margin-top: 1px; } /* buddy toggle icon */
		.buddy_true { background-position: 0 -528px; }
		.cn_buddy:hover { background-position: 0 -544px; }
		#commenterHeader .cn_buddy { margin: 4px 5px auto 10px; }

	.cn_s_ind { background-image: none; border: none; height: 14px; width: 12px; } /* star/un-star progress indicator */
		.commenttools .cn_s_ind { background-image: none; border: 0px; clear: none; margin-bottom: 0px; }
	.control_inprogress { opacity: 0.3; }

/* comment icon admin rules */
.commenttools .cn_e { display: none; } /* hide edit icon by default */
.commenttools .ca { display: none;} /* comment admin icons are hidden by default */
	.ul_sc, .ul_m {}
		.ul_m .p_0 .cn_p { display: block; } /* editor - tier 2 comment - promote thread button display */
		.ul_sc .p_0 .cn_p { display: block; } /* starcommenter - tier 2 comment - promote thread button display */
		.ul_m .p_1 .cn_d { display: block; } /* editor - tier 1 comment - demote thread button display */
		/* .ul_sc .p_1 .cn_d { display: block; } *//* starcommenter - tier 1 comment - demote thread button display */
		.ul_m .us_pending .cn_u { display: block; } /* editor - pending user - user & comment approve button display */
		.ul_m .cs_draft .cn_u { display: block; } /* editor - pending comment - user & comment approve button display */
		.ul_sc .us_pending .cn_u { display: block; } /* starcommenter - pending user - user & comment approve button display */
		.ul_sc .cs_draft .cn_u { display: block; } /* starcommenter - pending comment - user & comment approve button display */
	.ul_m {}
		.ul_m .p_0 .cn_r { display: block; } /* editor - tier 2 comment - delete comment button display */
		.ul_m .cn_a { display: block; } /* editor - admin gear button display */
	.ul_cm {}
		.ul_cm .p_1 .cn_d { display: block; } /* commentadmin - tier 1 comment - demote thread button display */
	.ul_m .cs_draft .cn_p, .ul_sc .cs_draft .cn_p { display: none; } /* starcommenter, editor - pending comment - hide promote button */
	.cadm_box { background-color: #eee; border: 1px solid #999; margin-top: 15px; position: absolute; padding: 2px 5px; z-index: 10; }
		.user_warn { left: 80px; border: 2px solid #999; -moz-border-radius: 10px; border-radius: 10px; }
		.cadm_sel { text-decoration: underline; }
		.cadm_box_inner { padding: 20px; text-align: center; z-index: 10; }
			.uw_wrap { margin: 0px auto 10px auto; width: 322px; }
				.uw_block { float: left; width: 150px; padding: 5px;}
				.uw_sepa { background-color: #999; float: left; height: 50px; margin-top: 5px; width: 1px; }
			.cadm_box_inner h5 { font-size: 13px; }
			.cadm_box_inner select, .cadm_box_inner input { margin: 5px 3px 0px 3px; width: 120px; }
			.permalink img.cn_progress { display: inline; border: 0; clear: none; float: none; margin: 0; }


/* comment box */
.commentbox { background-color: #f0f0f0; border: 1px solid #999;  margin-bottom: 15px; padding: 10px 10px 10px 169px; width: 330px; -webkit-border-radius: 4px; -moz-border-radius: 4px; }
	.cb_wrapper { background-color: #fff; border: 1px solid #999; }
	.cb_inputarea { position: relative; zoom: 1; }
	.cb_textarea { border: 0px; font-size: 15px; height: 54px; line-height: normal; margin-top: 1px; overflow: hidden; padding: 9px 5px; resize: vertical; width: 257px; }
	.cb_button_holder { top: 4px; position: absolute; right: 0px; width: 59px; }
		.cb_button { background-color: #D75148; border: 1px solid #D75148; color: #fff; cursor: pointer; font-size: 15px; height: 30px; margin: 0px 0px 3px 0px; padding: 2px; width: 55px; }
		.cb_cancel { background-color: #fff; border: 1px solid #999; color: #666; margin-top: 2px; }
	.cb_collapsed {}
		.cb_collapsed .cb_textarea { height: 18px; }
		.cb_collapsed .cb_onlyexp { display: none !important; }
	.cb_l { border-top: 2px solid #f0f0f0; clear: both; color: #777; font-size: 11px; line-height: 30px; height: 30px; padding: 5px 10px; position: relative; text-decoration: none; }
		.cb_imgupllink { margin-left: 30px; }
		.cb_imgupl {  } /* image upload form, needs proper style */
		.cb_l a:hover { text-decoration: none; }
		.cb_l img { clear: none; float: none; margin: 0px 4px 0px 0px; border: 0px; vertical-align: text-bottom; }
		.cb_closelink { color: #666 !important; font-size: 16px; font-weight: bold; font-family: Tahoma !important; position: absolute; right: 7px; top: 2px;}
		.cn_imgopt img, .cb_imgopt img, .cb_imgurl img, .cb_labelhack img { width: 15px; height: 13px;}
		.cn_vidopt img, .cb_vidopt img { width: 15px; height: 16px;}
	.cb_imguplpreview { height: 110px; border-top: 0px; text-align: center; }
		.cb_l .cb_img_preview { background-color: #fefefe; border: 1px solid #eee; padding: 1px; }
		.cb_labelhack { float: left; }
		.cb_buttonhack { float: left; height: 24px; margin-left: 10px; margin-top: 1px; overflow: hidden; position: relative; width: 80px; }
			.cb_uploader { height: 24px; top: 0; left: 0; opacity: 0; position: absolute; width: 80px; z-index: 2;}
			.cb_imgsubmit { background-color: #eee; border: 1px solid #ccc; cursor: pointer; font-size: 11px; height: 24px; top: 0; left: 0; padding: 2px; position: absolute; width: 80px; z-index: 1; }
	.cb_msg { border-top: 0px; display: block; height: 20px; line-height: 20px; padding: 4px 6px; }
	.cb_authoremail, .cb_tweetthis { clear: both; color: #777; line-height: 30px; padding: 0px 0px; position: relative; text-decoration: none; }
		.cb_authoremail a:hover { text-decoration: none; }
		.cb_authemail { border: 1px solid #999; font-size: 15px; padding: 5px 5px; width: 320px; }
		.at_icon { background-position: 0 -583px; float: left; margin-top: 11px; width: 13px !important; height:9px !important; }
		.opened .at_icon { background-position: 0 -576px; margin-top: 13px; height:7px !important; }
		.cb_authoremail .empty_field { color: #aaa; }

#menubar .commentbox { background-color: transparent; border: 0px; float: left; margin: 10px auto 10px 19px; padding: 0px; width: 330px; -webkit-border-radius: 0px; -moz-border-radius: 0px; }
#menubar .cb_collapsed{margin-bottom:0;}

.sitecomments {}
	.sc_head { font-size: 18px; padding: 0px;}
	.sc_pager { text-align: center; margin: 10px 0px; width: 100%; }
	.sc_title { clear: both; margin: 0px; padding: 0px; }
	#commenterPage .threadWrapper { border-bottom: 0px; margin-bottom: 10px; }
	
/* community policy popup and page */
.communitypolicy_popup {font-family: Georgia;font-size:16px;width:400px;margin:0px;display:block;background-color:#fff;float:none;padding:15px;}
.communitypolicy {font-family:Georgia;font-size:16px;width: 500px; background-color: transparent;}
	.communitypolicy h1, .communitypolicy_popup h1 {text-align:center;font-size:18px;margin-bottom:5px;font-family: Helvetica, Arial, sans-serif;font-size: 20px;font-weight: bold;padding: 15px;}
