.modal {
	z-index: 2147483647;
	position: fixed;
}

.modal_overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	z-index: 4999;
	background-color: #FFF;
	width: 100%;
}
.ie6 .modal,
.ie6 .modal_overlay {
	position: absolute;
}
	
.dialog {
	/*top: 400px;*/
	max-width: 500px;
	
	border:8px solid rgba(82, 82, 82, 0.6);	
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}
	
.dialog .inner {
	border: 1px solid #666;
	background-color: #f0f0f0;
	z-index: 6000;
}
	
.dialog .inner h1 {
	font-size: 20px;
	font-weight: bold;
	font-family:  Helvetica, Arial, sans-serif;
	background-color: #fff;
	padding: 15px;
}
	
.dialog .inner .text {
	padding: 15px;
}
	
.dialog .inner .text p {
	margin-bottom: 1em;
}
	
.dialog .inner .siteIcon {
	width:40px;
	height: 40px;
	position: absolute;
	right: 10px;
	top: 7px;
}

.dialog .leftside {
	float: left;
	width: 235px;
}

.dialog .rightside {
	float: right;
	width: 200px;
	padding-left: 17px;
	border-left: 1px solid #ddd;
}

.dialog form {
	text-align: right;
}	

.dialog form.settings {
	text-align: left;
}	

.dialog form .row {
	margin-bottom: .8em;
}	


.dialog form label {
	width: 100px; 
	margin-right: 1em;
}
	
.dialog .inner .text .footer {
	font-size: 11px;
	margin-top:2em;
}

.dialog .fblogin_container {
	position: relative;
	top: 9px;
	padding-right: 16px;
}
	
	
/** screen specific modal css **/

.dialog.register {
	width: 460px;
}

.dialog.register form .row input[type="text"],
.dialog.register form .row input[type="password"] {
	width: 200px;
}


.dialog.guestpanel {
	width: 550px;
}

.dialog.cn_starinvite_dialog form label {
	vertical-align: top;
}
