/* tagpage styles are a mix of postlist, permalink and comment styles, with a few exceptions and changes. */
.tagpage {}
	.tagpage .content { padding-bottom: 10px; } /* bottom border of tagpage posts */
		.listmode_post .content { border-bottom: 0; }
	.tagpage .threadWrapper { display: inline; float: left; line-height: 20px; margin: -2px 20px 20px 18px; width: 502px; } /* comment thread wrapper on tagpage */
	.tagpage .ctext img { max-width: 330px; } /* images in comment text */
	.tagpage .comment_footer { clear: both; width: 502px; } /* tagpage commentlist pager */
	.tagpage .related_posts { float: right; margin-top: -2px; padding-bottom: 0; } /* related posts sidebar */
		.tagpage .rp_comment { height: auto; } /* related comments on tagpage have no fixed height */
		.tagpage .see_more { color: #D75148; float: right; } /* see more link in related posts sidebar - postlist */
.dotted {border-bottom:1px dotted #B0B0B0;display:block;float:left;height:1px;margin:2px 0px -4px 18px;width:502px;}